{% extends "home.html" %}
{% block body %}
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 shadow-lg p-4 rounded">
        <span class="text-primary h3">OTP Verication</span><br>
        <form action="otp_verification" method="POST">
            {% csrf_token %}
            <input type="text" class="form-control" id="name" name="name" value="{{un}}" placeholder="id" >
            <div class="form-floating mt-3">
                <input type="text" class="form-control" id="otp" name="otp" placeholder="OTP">
                <label for="username">OTP</label>
            </div>
            <div class="form-floating mt-3">
                <input type="submit"  class="btn btn-outline-success" value="Verify">
            </div>
        </form>
    </div>
</div>
{% endblock %}