{% extends "email/layout.html" %}
{% block body %}
<div class="modal fade" id="spamModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add Spam Words</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="spamadd" method="POST" class="position-sticky-top">
                    {% csrf_token %}
                    <div class="input-group mt-3">
                        <input type="text" class="form-control" id="spamword" name="spamword" placeholder="Spam word">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
                <table class="table  w-100">
                    <tr>
                        <th>Spam Word</th>
                        <th>Delete</th>
                    </tr>

                    {% for i in sw %}
                    <tr>
                        <td>{{i.spamword}}</td>
                        <td> <a href="spamdelete/{{i.id}}/">Delete</a> </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    <div class="card mt-3">
        <div class="card-header ">
            <Span class="h1">Spam</Span>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary float-end" data-bs-toggle="modal" data-bs-target="#spamModal">
            Create
            </button>
        </div>
        <div class="card-body">
            <table class="table table-light  w-100">
                <tr>
                    <th>From</th>
                    <th>Subject</th>
                    <th>View</th>
                    <th>Delete</th>
                    <th>Spam</th>
                </tr>
                {% for i in frm %}
                        <tr>
                            <td>{{i.to.email}}</td>
                            <td>{{i.subject}}</td>
                            <td>
                                <a href="emailview/{{i.id}}">View</a>
                            </td>
                            <td>
                                <a href="emaildelete/{{i.id}}">Delete</a>
                            </td>
                            <td>
                                <a href="emailspam/{{i.id}}">Un-Spam</a>
                            </td>
                        </tr>
                {% endfor %}
            </table>
        </div>
        <div class="card-foot"></div>
    </div>
{% endblock %}